/* Module 3 Solution - John Hopkins University Coursera
Lance A Stubblefield; 2024
*/


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.my_body {
    width: 100%;
    background-color: lightgray;
    margin:5px;
    padding:5px;
}

img.press {
    width: 40px;
    height: auto;
}

#dropdown-items {
    width: 100%;
    text-align: center;
    background-color: rgb(227, 130, 12);
    color:black;
}